*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#0e0f12;
  color:white;
}


.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 80px;
 background-color: rgb(21, 20, 21);
}



.logo img{
    height: 60px;
}

.blue{
  color:#4c7dff;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:30px;
  color:#ccc;
}

.nav-links li:hover{
  color:white;

}

.login-btn{
  padding:10px 22px;
  border:none;
  border-radius:20px;
  background:#6c7bff;
  color:white;
  /* cursor:pointer;     */
}



.second-section{
  text-align:center;
  padding:40px 80px;
}

.second-section h1{
  font-size:70px;
  margin-bottom:50px;
}

.dot{
  display:inline-block;
  width:10px;
  height:10px;
  background:red;
  border-radius:50%;
  margin:0 10px;
}



.card{
  display:flex;
  justify-content:space-between;
  background:linear-gradient(to right,#111,#1f0c0c);
  padding:40px;
  border-radius:15px;
  border:1px solid #530a17;
}



.left{
  width:60%;
  text-align:left;
}

.left h2{
  font-size:30px;
  margin-bottom:25px;
}

.red{
  color:red;
}

.features{
  display:flex;
  gap:40px;
  margin-bottom:30px;
}

.features p{
  margin-bottom:12px;
  color:#ccc;
}

.countdown{
  display:flex;
  gap:20px;
  
}

.countdown div{
  background:#330000;
  padding:20px 60px;
  border-radius:10px;
  text-align:center;
  border:1px solid #930d26;
}

.countdown h3{
  font-size:28px;
}

.countdown span{
  font-size:12px;
  color:red;
}


.right{
  width:35%;
  background:#1e1d1d;
  padding:25px;
  border-radius:15px;
  text-align:center;
  position:relative;
}

.badge{
  position:absolute;
  top:-10px;
  left:-10px;
  background:red;
  padding:6px 15px;
  border-radius:5px;
  font-size:13px;
}

.image-box{
  width:100%;
  height:200px;
  background:#222;
  border-radius:10px;
  margin-bottom:20px;
  /* overflow:hidden; */
}

.image-box img{
  width:100%;
  height:100%;
  /* object-fit:cover; */
}

.course-btn{
  margin-top:15px;
  padding:12px 25px;
  background:rgb(219, 37, 37);
  /* border:none; */
  border-radius:6px;
  color:white;

}









/* 3rd */

.feature-section{
  display:flex;
  justify-content:space-between;
  padding:40px 80px;
background:#0e0f12;
/* background-color: blue; */
}


.feature-left{
  width:45%;
}

.feature-left h1{
  font-size:48px;
  margin-bottom:20px;
}

.feature-left p{
  color:#aaa;
  margin-bottom:30px;
  line-height:1.6;
}

.feature-buttons{
  margin-bottom:35px;
}

.btn{
  padding:14px 28px;
  border-radius:30px;
  border:none;
  /* cursor:pointer; */
  margin-right:15px;
  font-size:15px;
}

.primary-btn{
  background:#6c7bff;
  color:white;
}

.outline-btn{
  background:transparent;
  border:1px solid #ff4d6d;
  color:white;
}

.live{
  color:#ff4d6d;
}


.students-box{
  display:flex;
  align-items:center;
  background:#111827;
  padding:10px 20px;
  border-radius:40px;
  width:fit-content;
  border:1px solid #ff4d6d33;
}

.student-images{
  display:flex;
  margin-right:15px;
}

.student-images img{
  width:40px;
  height:40px;
  border-radius:50%;
  border:2px solid #f9fafe;
  margin-left:-12px;
  background:gray;
  
}


.feature-right{
  width:45%;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}

.feature-card{
  background:#111;
  padding:30px;
  text-align:center;
  border-radius:12px;
  font-weight:bold;
  border:1px solid #333;
  
}


/* 4rth section */



.followers{
padding:40px 80px;
justify-items: center;
}


.social-media{
  height: 250px;
  width: 90%;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(9, 7, 14);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid rgb(58, 58, 64);
  
 
   
}

.social-media div{
 
  height: 100px;
  width: 200px;
  border-radius: 10px;

  justify-items: center;
  border: 1px solid rgb(88, 83, 121);
  
}

.social-media:hover{
  background-color: rgb(15, 15, 30);
}






.best-code{
  /* height: 100px; */
  /* background-color: rgb(43, 39, 39); */
  justify-items: center;
  /* align-items: center; */
  align-content: center;

}
.tow-sections{
  width: 80%;
  display: flex;
  border: 1px solid rgb(42, 66, 91);  

  justify-content: space-between;
  padding: 5%;
  border-radius: 20px;

  /* background-color: red; */
}


.three-line img{
  width: 80px;
  border-radius: 50%;
}

.three-line{
  /* background-color: red; */
  width: 40%;
  /* margin-left: 50px; */
}
.rightsection{
  /* background-color: green; */
  /* margin-right: 10%; */
  justify-content: center;
  align-content: center;

}
.rightsection h3{
  color: rgb(155, 21, 21);
}
.rightsection h1{
  /* background-color: red; */
  width: 90%;
}
.rightsection button{
  background-color: rgb(83, 98, 215);
  color: white;
  height: 45px ;
  width: 35%;
border-radius: 30px;

}




.best-code2{
  justify-items: center;
 
  align-content: center;
}

.tow-sections2{
  width: 80%;
  display: flex;
  border: 1px solid rgb(47, 91, 42);  
   margin-top: 100px;
  justify-content: space-between;
  padding: 5%;
  border-radius: 20px;

}

.leftsection{

  justify-content: center;
  align-content: center;
  /* background-color: red; */
width: 40%;
}
.leftsection h3{
  color: rgb(32, 197, 29);
}
.leftsection h1{

  width: 90%;
}
.leftsection button{
  background-color: rgb(83, 98, 215);
  color: white;
  height: 45px ;
  width: 35%;
border-radius: 30px;

}

  .three-line2 img{
  width: 80px;
  border-radius: 50%;
}

.three-line2{
  /* background-color: red; */
  width: 50%;
}
.tow-sections2:hover{
  background-color: rgb(20, 30, 20)

}

.tow-sections:hover{
  background-color: rgb(22, 22, 35)

}





/* 3rd section */
.third-section{
  /* justify-content: center; */
  /* justify-items: center; */
  text-align: center;
  justify-items: center;
  
  
 

}
.middle-heading{
  text-align: center;
}
 .middle-heading h1{
  /* background-color: green; */
  width: 50%;
  padding: 50px;
  margin-left: 25%;

}
.section-3{
  width: 80%;
  justify-content: center;
  /* border: 1px solid white; */
   border: 1px solid rgb(239, 202, 92);
   border-radius: 20px;
  display: flex;
}

.leftsection3{
  /* background-color: green; */
  
  align-content: center;
}
.right-section3{

  border-radius: 20px;
   width: 100%;
  height: 100%;
  
}
.right-section3 img{
  /* margin: 10px; */
  margin-top: 50px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(89, 88, 86);
  /* padding: 40px; */
}

.leftsection3 h3{
  /* background-color: red; */
  color: rgb(218, 135, 27);
  width: 35%;
}
.leftsection3 h1{
  width: 90%;
  /* background-color: red; */
}
.leftsection3 p{
  /* background-color: red; */
  width: 90%;
}


.leftsection3 button{
  background-color: rgb(83, 98, 215);
  color: white;
  height: 45px ;
  width: 35%;
border-radius: 30px;
margin-left: -60%;


}
.leftsection3 div{
  /* background-color: red; */
  padding: 10%;
}







.course-section {
  padding: 80px;
  background-color: #0e0f12;
}

.course-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.course-heading span {
  color: #4c7dff;
}


.course-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;        
  justify-content: space-between;
  gap: 30px;
}


.course-card {
  width: 40%;             
  background-color: #1a1a1f;
  border: 1px solid #2a2a30;
  border-radius: 10px;
  overflow: hidden;
}


.course-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.course-body {
  padding: 20px;
}

.course-body p {
  color: #ddd;
  margin-bottom: 15px;
}


.course-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-price {
  color: #4c7dff;
  font-weight: bold;
}

.old-price {
  color: gray;
  text-decoration: line-through;
}

.discount-box {
  background-color: #16a34a;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.course-card img{
  width: 80%;
  margin-left: 40px;
  margin-top: 10px;
  border: 1px solid rgb(73, 72, 72);
  border-radius: 10px;
}








.footer {
  background-color: #1e293b;
  color: #cbd5e1;
  padding: 60px 40px 20px 40px;
  margin-top: 60px;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;   
  max-width: 1100px;
  margin: auto;
}

.footer-col {
  width: 23%;
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-col h3 {
  margin-bottom: 15px;
  color: white;
}


.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #3b82f6;
}


.logo {
  color: white;
}

.logo span {
  color: #3b82f6;
}

.tagline {
  margin-top: 10px;
  font-size: 14px;
}


.copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: gray;
}